.blog_german .blog_inner {
    background-color: white !important;
    min-height: 100vh !important;
    padding: 30px 35px;
}

.blog_german .blog_inner_2 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 100vh !important;
    margin-top: 80px;
    padding: 20px 90px !important;
}

.blog_german .blog_inner_2 h1 {
    font-weight: bolder;
    font-size: 26px;
    margin-left: -15px !important;
}

.blog_german .blog_inner_2 p {
    padding: 0 !important;
    font-size: 18px;
    line-height: 1.4em;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.blog_german .blog_inner_2 .subhead {
    font-size: 20px;
    margin-top: 50px;
    font-weight: bolder;
}

.blog_german .blog_inner_2 .menu_ {
    padding: 26px 0px !important;
}

.blog_german .blog_inner_2 .images_ {
    margin-top: 80px;
}

.blog_german .each_card .col-md-4 {
    padding: 10px 15px 10px 0 !important;
    margin-top: 25px !important;
}

.blog_german .each_card {
    background-position: center;
    margin-top: 25px !important;

    min-height: 240px !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.blog_german .each_2 {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    min-height: 310px !important;
    background-color: white !important;
}

.blog_german .blog_inner_2 .h_2 {
    margin-left: -14px;
}

.blog_german .link_ {
    cursor: pointer;
}

.blog_german .comment_box {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    padding: 40px 0;
    text-align: center !important;
    margin-top: 60px;
}

.blog_german .blog_inner .comment_box span {
    font-size: 16px;
    font-weight: lighter;
}

.cursor-pointer {
    cursor: pointer;
}

.blog_german .title_2 {
    width: 85% !important;
    font-weight: bolder !important;
    padding: 10px 0 30px 0px !important;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    margin-top: -20px !important;
}

.ttt {
    margin-top: -20px !important;
}

.blog_german .blog_inner_2 .p_right {
    /* border: 1px solid rgba(0, 0, 0, 0.1) !important; */
    height: 220px;
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.blog_german .medias_ {
    border-top: 1px solid rgba(0, 0, 0, 0.14);
    margin-top: 30px;
    padding: 24px 30px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.blog_german .medias_2 {

    margin-top: 30px !important;
    padding: 10px 30px !important;

}

.blog_german.medias_2 span {
    padding: 4px 5px;
}

.blog_german .medias_ span {
    padding: 4px 10px;
}

.media_image img {
    width: 100% !important;
    height: 200px !important;
}


@media screen and (max-width:768px) {
    .blog_german .blog_inner_2 .menu_up {
        padding: 10px 20px !important;
    }

    .blog_german .ty h1 {
        margin-left: 5px !important;
    }

    .recent_ {
        padding: 10px 30px !important
    }

    .blog_german {
        padding: 0 3px !important;
    }

    .blog_german .blog_inner_2 {

        padding: 20px 20px !important;
    }

    .blog_german .blog_inner {
        background-color: white !important;
        min-height: 100vh !important;
        padding: 30px 15px;
    }

    .blog_german .menu_1 {
        color: rgba(0, 0, 0, 0.9) !important;
        padding: 20px 20px !important;
    }

    .blog_german .menu_ {
        color: rgba(0, 0, 0, 0.5) !important;
        padding: 20px 20px !important;
    }
}