.about-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.turkish-img{
    width: 80%;
}

.indian-img{
    width: 80%;
}

.about-teacher-section{
    display: flex;
    margin: 0px 60px;
}

.cultxp-teacher-image{
    width: 60%;
}

.cultxp-teacher-bio-wrapper{
    width: 40%;
}

.cultxp-teacher-bio-container{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 217, 0);
    border-radius: 20px;
    margin: auto;
}

.cultxp-teacher-title{
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    font-size: 28px;
}

.cultxp-teacher-bio{
    width: 100%;
    text-align: center;
    margin: 20px 40px;
    line-height: 1.5;
    font-size: 16px;
}

.cultxp-extra-info-wrapper{
    background-color: rgb(243, 240, 235);
    padding: 0px 400px;
}

.cultxp-extra-info-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

.cultexp-title{
    font-size: 36px;
    width: 100%;
    text-align: center;
    height: fit-content;
    margin: 30px 0px;
}

.cultexp-price{
    width: 100%;
    font-size: 26px;
    text-align: center;
}

.book-now-btn{
    margin: auto;
    background-color: yellow;
    padding: 10px;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
}

.cultexp-description{
    width: 100%;
    margin: 20px 20%; 
    text-align: center;
    line-height: 2;
}

.book-now-btn-teacher-bio{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: aquamarine;
    cursor: pointer;
    margin: auto;
}

.book-now-btn-teacher-bio:hover{
    background-color: rgb(50, 97, 81)
}

.slider {
  width: 480px;
  height: 360px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.slide {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  height: 100%;
  border-radius: 20px;
  scroll-snap-align: center;
}

.extra-info-title{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cultxp-extra-info-container:last-of-type{
    border: none;
}

.teacher-circle-img{
    border-radius: 100%;
    width: 50%;
    margin: 20px auto;
}

.book-now-container{
    width: fit-content;
    background-color: rgb(255, 217, 0);
    display: flex;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.extra-info-desc{
    line-height: 1.5;
}

.pricing{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}