footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

footer li {
    display: inline-block;
    padding: 2rem;
    color: white;
}

footer li a{
    color: white;
}

footer li a:hover{
    color: lightgray;
    text-decoration: none;
}

