
.cultural_image_container{
    height:60vh;
    border:1px solid rgba(0,0,0,0.2);
    position: relative !important;
}
.cultural_image_container .btn_cont{
    position: absolute !important;
    bottom: -16px !important;
    width:100%;
}
.cultural_image_container .btn_cont .btn{
    background-color: rgb(118, 118, 118) !important;
    border-radius: 0 !important;
    font-weight: lighter !important;
    font-family: sans-serif !important;
    border:none !important;
    width:160px;
    height:35px;
}
.card_bottom p.price{
    font-family: sans-serif !important;
    font-size:23px !important;
    font-weight: 100 !important;
}
.card_bottom p.culture_description{
    font-size:17px !important;
    color: rgba(0,0,0,0.7) !important;
    font-family: sans-serif !important;
}
.card_bottom h4.culture_title {
    font-family: sans-serif !important;
font-size: 26px !important;
font-weight: bolder;
}


