/*
.navLinks {
    background-color:white;
    color: #1ABD9D;
}
    
.navLinks:hover {
    background-color:#1ABD9D; 
    color: white;
}
*/


.backGroundColorNav { 
    background-color: #111111 !important; 
} 

.navLinks {
    color: white !important;
}
    
/* .navLinks:hover {
    color: #1ABD9D !important; 
}  */

.navDropDownTitle {
    color: white !important;
}

button{
    color: white !important;
}

a:only-of-type{
    color: white;
}


.ui-splitbutton.custom-background-style .ui-button {
    background: yellow;
}


.custom-sign-up-btn {
    background:  #1ABD9D !important;
    color: white !important;
    border-radius: 50%;
}

button:focus {
    outline:none;
    box-shadow: none;
}
/* borderRadius: "5%", width: "100px", height: "40px", */ 

