
.blog_single .blog_inner{
    background-color: white !important;
    min-height: 100vh !important;
    padding: 45px 90px !important;

}

.blog_single .blog_inner_2{
    border: 1px solid rgba(0,0,0,0.1);
    min-height: 100vh !important;
    margin-top:80px;
    padding: 20px 90px !important;
}

.blog_single .blog_inner_2 h1{
 font-weight: bolder;
 font-size: 26px;
}

.blog_single .blog_inner_2 .m-0{
    margin-left: 0 !important;
}

.px-3{
    padding: 26px 12px !important;
}

.blog_single .blog_inner_2 p{
    padding: 0 !important;
    font-size: 18px;
    line-height: 1.4em;
    margin-top: 20px;
    color: rgba(0,0,0,0.7);
}

.secret_blog .blog_inner_2 p {
    margin-top: 30px;
}

.blog_single .blog_inner_2 .subhead{
    font-size: 20px;
    margin-top: 50px;
    font-weight: bolder;
}

.blog_single .blog_inner_2 .subhead2{
    font-size: 18px;
    margin-top: 50px;
    font-weight: bolder;
}

.blog_single .blog_inner_2 .menu_{
 padding: 26px 0px !important;
}
.react-player{
    height: 30rem;
    margin: 2rem 0rem 7rem 0rem;
}
.blog_single .blog_inner_2 .images_{
    margin-top:80px;
   }
.blog_single  .each_card{
    min-height: 240px !important;
}
.blog_single  .each_2{
    min-height: 310px !important;
}
.blog_single .blog_inner_2 .h_2{
    margin-left:-14px;
}
.blog_single .blog_inner_2 .link_{
   cursor: pointer;
}
.blog_single  .comment_box{
    border: 1px solid rgba(0,0,0,0.1) !important;
    padding: 40px 0;
    text-align: center !important;
    margin-top: 60px;
}
.blog_inner .comment_box span{
    font-size: 16px;
    font-weight: lighter;
}
.cursor-pointer{
    cursor: pointer;
}

.blog_single  .title_2{
    width: 85% !important;
    font-weight: bolder !important;
    padding: 10px 0 30px 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    margin-top: -20px !important;
}

.blog_single .blog_inner_2 .p_right{
    height:450px;
    background-color: rgba(0,0,0,0.1) !important;
 }
 .blog_single .blog_inner_2 .medias_{
     border-top: 1px solid rgba(0,0,0,0.14);
     margin-top:30px;
     padding: 24px 30px !important;
     border-bottom: 1px solid rgba(0,0,0,0.14);
 }
 .blog_single .blog_inner_2 .medias_2{
   
    margin-top:30px !important;
    padding: 10px 30px !important ;
   
}
.blog_single .blog_inner_2 .medias_2 span{
   
  
    padding: 4px 5px;
   
}
 .blog_single .blog_inner_2 .medias_ span{
  padding: 4px 10px;
 }


 @media screen and (max-width:768px){
.blog_single{
    padding: 0 3px !important;
}
.blog_single .blog_inner_2{

    padding: 20px 20px !important;
}
.blog_single .blog_inner{
    background-color: white !important;
    min-height: 100vh !important;
    padding: 30px 15px;
}
.menu_1{
    color: rgba(0,0,0,0.9) !important;
    padding: 20px 20px !important;
}
.menu_{
    color: rgba(0,0,0,0.5) !important;
    padding: 20px 20px !important;
}
 }

strong{
    font-weight: bold;
}


